body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

.containerOne {
    text-align: end;
}

.btnMenu {
    background-color: transparent;
    border: none;
}

.textMenu {
    position: absolute;
    top: 10px;
    right: 16px;
    color: white;
}


.fa-desktop {
    font-size: 3rem;
    border-radius: 18%;
    height: 35px;
    background-color: black;
}

.fa-desktop:hover {
    background-color: lightblue;
}

.fa-desktop:active{
    background-color: green
}

nav {
    display: none;
}

.open {
    display: block;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    background-color: cadetblue;
    font-size: xxx-large;
}


ul {
    text-transform: uppercase;
    list-style: none;
}

li {
    line-height: 7rem;
}

a {
    color: black;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    text-shadow: 5px 5px 5px black;
}
w
.containerTow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
}

.name {
    text-transform: capitalize;
    text-align: center;
    font-size: xxx-large;
}

.photoOnMe {
    border: solid 5px black;
    border-radius: 10%;
}

.containerThree {
    height: 100vh;
}

.aboutMe {
    text-align: center;
    text-transform: capitalize;
}

.textAboutMe {
    text-align: center;
    background-color: aliceblue;
    border: dashed 3px black;
    border-radius: 10px;
}

.containerThreeResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize
}

.imageResume {
    border: dashed 3px black;
}

.textSkills {
    text-align: center;
    text-transform: capitalize;
}

.skillsLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    gap: 20px;
}

.fa-html5 {
    background-color: red;
    border: dashed;
}

.fa-css3-alt {
    background-color: lightblue;
    border: dashed;
}

.fa-sass {
    color: red;
}

.fa-square-js {
    background-color: yellow;
    border: dashed;
}

.fa-github {
    color: white;
    background-color: black;
    border-radius: 50px;
}


.containerFour {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textMyWork {
    text-transform: capitalize;
    text-align: center;
}



.textContact {
    text-transform: capitalize;
    text-align: center;
}


.contactLogo {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
}

.fa-phone{
    color: green;
}

.fa-envelope {
    color: white;
}

.fa-linkedin {
    color: blue;
    background-color: white;
    border-radius: 11px;
}

